
<div>
  <h2>To-Do List</h2>
  <form (submit)="addTask()" class="form">
      <input 
        type="text" 
        name="taskName" 
        class="form__input"  
        [(ngModel)]="taskName"
        placeholder="Add a new task" 
        required 
        />
        <!--обычный_класс,ngClass-динамический/изменяющийся -->
      <button type="submit" class="form__button">Add Task</button>
  </form>

  <ul><!--создаем столько элементов, сколько задач добавили -->
    <li *ngFor="let task of tasks">
      <input type="checkbox" [(ngModel)]="task.completed" />
      {{ task.name }}
    </li>
  </ul>

  <button 
  (click)="deleteCompletedTasks()"
  class="button"
  appAppButtonColor
  [ngClass]="{'_disabled': isAllTasksIsComplete}"
  [disabled]="isAllTasksIsComplete">
  Delete Completed Tasks
</button>
</div>