/* You can add global styles to this file, and also import other style files */
@use '../src/assets/fonts/fonts.scss';
@use '../src/assets/mixins.scss' as *;

@function double($number){
    @return $number * 2;
}

$primary-color: #cbdcf8;
body{
    background-color: $primary-color;
    margin: 0;
    padding: 0;
}

.card {
    width: double(190px);
    height: 354px;
    background: #3405a3;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    .card-border-top {
    width: 60%;
    height: 3%;
    background: #6b64f3;
    margin: auto;
    border-radius: 5px;
   }
    span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.5rem;
   }
   .card__job-title {
    font-weight: 400;
    color: rgb(166, 118, 172);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 0.8rem;
   }
   .img {
    width: 70px;
    height: 80px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
   }
    
   }
   
   button {
        padding: 8px 25px;
        display: block;
        border-radius: 8px;
        border: none;
        margin-top: 30px;
        background: #6b64f3;
        color: white;
        font-weight: 600;
        &._disabled{
            color: black;
        }
        &:hover {
            background-color: #7762a7;
            color: #3405a3;
        }
   }
  
 
    @media only screen and (max-width: 900px)  and (max-height: 300px) {
        .card{
            background-color: rgb(6, 7, 78);
            max-height: 300px;
            max-width: 200px;
        }
    }