@font-face {
    font-family: 'MyFont';
    src: url('RubikVinyl-Regular.woff') format('woff');      
    font-weight: 800;
    font-display: swap;
  }
  
  @font-face {
     font-family: 'MyFont2';
     src: url('YsabeauSC-Bold.woff') format('woff');      
     font-weight: 500;
     font-display: swap;
   }