@use '../../../../assets/mixins.scss' as *;

.navbar{
    margin: 0;
    padding: 0;
    background-color: mediumslateblue;
    padding: 30px;
    font-size: 32px;
    &__list {
        @include flex-center;
        gap: 2rem;
    }
    &__item{
        list-style: none;
        font-family: 'MyFont';
        a{
            color: gainsboro;
        }
    }
    &:hover{
        background-color: rgb(59, 52, 102);
    }   
}